/* header styles */
.header{
    background-image: url(../images/donation3.jpg);
}
*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    width: 160px;
    height: 56px;
    border-radius: 5px;
    background-color: orange;
}
/* donate section styles */
.donate{
    margin-top: 130px;
    border-radius: 10px;
}
.section-title{
    font-weight: 700px;
    font-size: 35px;
    margin-top: 130px;
}
.section-description{
    margin-left: 375px;
    margin-right: 375px;
    font-size: 15px;
    margin-top: 20px;
    padding: 2px;
}
.donate-info-container{
    display: flex;
    justify-content: center;
}
.info-title{
    margin-top: 50px;
    color: #707070;
    width: 86px;
    height: 36px;
}
h4{
    color: grey;
}
/* donate plan section styles */
.donate-plan{
    margin-top: 130px;
}
.plan1{
   background-color: bisque;
   margin-left: 157px;
}
.plan2{
    background-color: palegoldenrod;
}
.plan3{
    background-color: pink;
    margin-right: 177px;
}
.plans-container{
    display: flex;
    margin-top: 54px;
    gap: 24px;
}
.plan-title{
    width: 230px;
    height: 36px;
}
.plan-description{
    width: 315px;
    height: 101px;
}
/* your donation section */
.your-donation{
    display: flex;
}
.donation{
    margin-top: 182px;
    width: 493px;
    height: 374px;
    margin-left: 157px;
}
.donation-title{
    width: 492px;
    height: 108px;
}
.donation-description{
    margin-top: 20px;
    width: 480px;
    height: 85px;
}
.btn-donation{
    width: 230px;
    height: 56px;
    background-color: orange;
    margin-top: 30px;
    border-radius: 5px;
}
.picture{
    margin-top: 130px;
    margin-right: 200px;
    margin-left: 70px;
}
/* survive section */
.need-survive{
    display: flex;
}
.image{
    margin-top: 90px;
    margin-left: 156px;
}
.survive{
    margin-top: 145px;
    margin-right: 256px;
    margin-left: 94px;
}
.btn-survive{
    width: 230px;
    height: 56px;
    background-color: orange;
    margin-top: 30px; 
    border-radius: 5px;
}
/* updates and contact section */
.contact{
    width: 809px;
    height: 200px;
    margin-top: 50px;
    margin-left:315px;
    margin-right: 312px;
    background-color: lemonchiffon;
}
input{
    width: 275px;
    height: 48px;
    margin: 76px 189px;
    text-align: left;
}
.btn-contact{
    width: 157px;
    height: 48px;
    background-color: orange;
    text-align: center;
    border-radius: 5px;
}
form {
    display: flex;
}
/* footer section styles */
.footer{
    width: 1440px;
    height: 177px;
   color: orange;
   background-color: black;
}
.humble{
    width: 158px;
    height: 92px;
    margin-top: 42px;
    margin-right: 629px;
    margin-bottom: 42px;
    margin-left: 653px;
}
.footer-title{
    width: 158px;
    height: 92px;
    padding: 10px;
}
.footer-description{
    width: 94px;
    height: 24px;
    margin-top: 24px;
    margin-right: 32px;
    margin-left: 32px;
}